<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>d033cb65-c750-4dc2-8f09-b86112fe0bd4</Value>
          </Property>
          <Property>
            <Key>WAdUnitId</Key>
            <Value>269596</Value>
          </Property>
          <Property>
            <Key>WWidth</Key>
            <Value>300</Value>
          </Property>
          <Property>
            <Key>WHeight</Key>
            <Value>250</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>7607687e-5653-43a9-af69-aba780d79a51</Value>
          </Property>
          <Property>
            <Key>MAdUnitId</Key>
            <Value>269600</Value>
          </Property>
          <Property>
            <Key>MWidth</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>MHeight</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Rank>1</Rank>
        <Timeout>15000</Timeout>
        <Weight>100</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata />
        <Name>AdDuplex</Name>
        <Rank>-1</Rank>
        <Timeout>15000</Timeout>
        <Weight>-20</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>IsHouse</Key>
            <Value>true</Value>
          </Property>
          <Property>
            <Key>WApplicationId</Key>
            <Value>d033cb65-c750-4dc2-8f09-b86112fe0bd4</Value>
          </Property>
          <Property>
            <Key>WAdUnitId</Key>
            <Value>269597</Value>
          </Property>
          <Property>
            <Key>WWidth</Key>
            <Value>300</Value>
          </Property>
          <Property>
            <Key>WHeight</Key>
            <Value>250</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>7607687e-5653-43a9-af69-aba780d79a51</Value>
          </Property>
          <Property>
            <Key>MAdUnitId</Key>
            <Value>269601</Value>
          </Property>
          <Property>
            <Key>MWidth</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>MHeight</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertisingHouse</Name>
        <Rank>2</Rank>
        <Timeout>15000</Timeout>
        <Weight>0</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>269596</Value>
              </Property>
              <Property>
                <Key>WWidth</Key>
                <Value>300</Value>
              </Property>
              <Property>
                <Key>WHeight</Key>
                <Value>250</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>269600</Value>
              </Property>
              <Property>
                <Key>MWidth</Key>
                <Value>480</Value>
              </Property>
              <Property>
                <Key>MHeight</Key>
                <Value>80</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
            <Rank>1</Rank>
            <Timeout>15000</Timeout>
            <Weight>100</Weight>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata />
            <Name>AdDuplex</Name>
            <Rank>-1</Rank>
            <Timeout>15000</Timeout>
            <Weight>-20</Weight>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>269597</Value>
              </Property>
              <Property>
                <Key>WWidth</Key>
                <Value>300</Value>
              </Property>
              <Property>
                <Key>WHeight</Key>
                <Value>250</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>269601</Value>
              </Property>
              <Property>
                <Key>MWidth</Key>
                <Value>480</Value>
              </Property>
              <Property>
                <Key>MHeight</Key>
                <Value>80</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertisingHouse</Name>
            <Rank>2</Rank>
            <Timeout>15000</Timeout>
            <Weight>0</Weight>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>MyAdsId</Id>
        <Name>MyAds</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
    <RotationAlgorithm>Ratio</RotationAlgorithm>
  </BaseConfiguration>
  <CdnUriFormat>https://admediatorcdn.windowsphone.com/public/grDXG4wlImzo93KTuo/blNrEOaACVvMNqbxWrd6D2t0=/{0}.config</CdnUriFormat>
  <ConfigId>grDXG4wlImzo93KTuo/blNrEOaACVvMNqbxWrd6D2t0=</ConfigId>
  <FileVersion>1.0.1</FileVersion>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>2.0.1</SchemaVersion>
  <UpdatedDateTime>2016-01-13T04:01:12.2609898Z</UpdatedDateTime>
</AdMediatorConfiguration>